{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <style>
        a{color:white;
        background-color: red;
        padding: 5px 15px 5px 15px;
        text-decoration: none;
        border-radius: 5px;
        display: block;
        width: 120px
        }
        body
        {
            background-image:url({% static 'images/fondo.jpg' %});
        }
    </style>

</head>

<body>
    <div id="agrupar">
        <header id="cabecera">
            <h1>
                <strong>MI PRIMER PAGINA EN DJANGO:</strong><br>
                <strong>EMMANUEL LOPEZ GARCIA</strong>
            </h1>
            <div id="cabecera2">
                <h2>
                    <em>CI/CD</em>
                </h2>
            </div>

        </header>


        <div id="definicion">
            <p>
                Este ha sido el proyecto en django de Emmanuel López García<br>
                Django es un framework que permite desarrollar rapidamente sitos web <br>
                Django es de código abierto<br>
            </p>
        </div>
    </div>

    <footer>
        <p><strong>Autor:</strong><em> López García Emmanuel</em></p>
        <p><strong>10 de agosto del 2022</strong></p>
        <p>Grupo: GRIC2091-E</p>
    </footer>

</body>

</html>