
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="css/estilo.css">

</head>

<body>
    <div id="agrupar">
        <header id="cabecera">
            <h1>
                <strong>EMMANUEL LOPEZ GARCIA</strong>
            </h1>
            <div id="cabecera2">
                <h2>
                    <em>CI/CD</em>
                </h2>
            </div>

        </header>


        <div id="definicion">
            <p>
                Este ha sido el proyecto en django de Emmanuel López García<br>
                Django es un framework que permite desarrollar rapidamente sitos web <br>
                Django es de código abierto<br>
            </p>
        </div>
        <div id="ecosistemas">
            <div id="content">
                <h3 id="contenido">
                    <strong>CONTENIDO</strong>
                </h3>

                <h3 id="bosques"><strong><em>Bosques</em></strong>
                </h3>
                <img src="img/bosques.jpg" alt="Imagen de bosque" height="200" width="300">
                <p id="title">Bosques del mundo</p>
                <p id="parrafo">Un bosque es un ecosistema con una importante <br>
                    población de árboles y arbustos. Los bosques <br>
                    absorben dióxido de carbono, conservan muchas <br>
                    propiedades en el suelo (el cual es muy fértil) <br>
                    y regula flujos hidrológicos.
                </p>
                <p id="tabla"><strong>Información relevante sobre los bosques</strong></p>
                <table>
                    <thead>
                        <tr>
                            <th>TIPOS</th>
                            <th>TEMPERATURA</th>
                            <th>ESPECIES QUE LO <br> HABITAN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Boreal</td>
                            <td>19°C</td>
                            <td>Caribu, Oso pardo, <br> Lince Boreal.</td>
                        </tr>
                        <tr>
                            <td>Templado</td>
                            <td>10°C en Promedio</td>
                            <td>Caracal, Perro mapache, <br> Zorro andino</td>
                        </tr>
                        <tr>
                            <td>Subtropical</td>
                            <td>18°C en Promedio</td>
                            <td>Zarigüeyas, Murciélagos, <br> Tucanes</td>
                        </tr>
                        <tr>
                            <td>Tropical</td>
                            <td>27°C en Promedio</td>
                            <td>Araña mona, Halcones, <br> Buitres</td>
                        </tr>
                    </tbody>
                </table>
                <p><em>Información con ayuda de <a target="_blank" href="https://concepto.de/bosque/">Concepto de
                            BOSQUE</em></a>
                </p>
                <p>Regresar al <a href="#contenido">Contenido</a></p>
                <h3 id="selva"><strong><em>Selvas</em></strong>
                </h3>
                <img src="img/selva.jpg" alt="Imagen de selva" height="200" width="300">
                <p id="title">Selvas del mundo</p>
                <p id="parrafo">El bioma de la selva es conocido por muchos nombres diferentes; bosque lluvioso, <br>
                    jungla, bosques densos, entre otros términos. Principalmente alberga una extensa <br>
                    cantidad de especies en flora y fauna además de caracterizarse por albergar árboles <br>
                    de grandes dimensiones y altura. Así que, el bioma selva es de vital importancia para <br>
                    la Tierra!
                </p>
                <p id="tabla"><strong>Información relevante sobre las selvas</strong></p>
                <table>
                    <thead>
                        <tr>
                            <th>TIPOS</th>
                            <th>TEMPERATURA</th>
                            <th>ESPECIES QUE LO <br> HABITAN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ecuatorial</td>
                            <td>35°C</td>
                            <td>Arañas, Escorpiones, <br> Gusanos</td>
                        </tr>
                        <tr>
                            <td>Tropical</td>
                            <td>24°C en Promedio</td>
                            <td>Cocodrilos, Armadillos, <br> Serpientes</td>
                        </tr>
                        <tr>
                            <td>Subtropical</td>
                            <td>18-24°C en Promedio</td>
                            <td>Osos, Mapaches, <br> Pumas</td>
                        </tr>
                        <tr>
                            <td>Templada</td>
                            <td>10-21°C en Promedio</td>
                            <td>Jaguar, Puma, <br> Hormigas</td>
                        </tr>
                    </tbody>
                </table>
                <p><em>Información con ayuda de <a target="_blank"
                            href="https://sites.google.com/site/myreginat/bosque-templa">
                            Bosque templado y selva</em></a></p>
                <p>Regresar al <a href="#contenido">Contenido</a></p>


                <h3 id="desiertos"><strong><em>Desiertos</em></strong>
                </h3>
                <img src="img/desierto.jpg" alt="Imagen de selva" height="200" width="300">
                <p id="title">Desiertos del mundo</p>
                <p id="parrafo">Se entiende por desierto a un paisaje bioclimático (o bioma) caracterizado <br>
                    por sus bajísimos índices de precipitación (lluvias) y por lo tanto márgenes<br>
                    muy estrechos de humedad, lo que se traduce en climas secos, temperaturas extremas<br>
                    y suelos áridos.
                </p>
                <p id="tabla"><strong>Información relevante sobre los Desiertos</strong></p>
                <table>
                    <thead>
                        <tr>
                            <th>TIPOS</th>
                            <th>TEMPERATURA</th>
                            <th>ESPECIES QUE LO <br> HABITAN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Semiáridos</td>
                            <td>13-14°C</td>
                            <td>Conejos, Escorpiones, <br> Serpientes</td>
                        </tr>
                        <tr>
                            <td>Áridos</td>
                            <td>20-50°C</td>
                            <td>Seríentes cascabel, Conejos, <br> Correcaminos</td>
                        </tr>
                        <tr>
                            <td>Hiperáridos</td>
                            <td>60°C en Promedio</td>
                            <td>Hormigas, Escarabajos, <br> Escorpiones</td>
                        </tr>
                    </tbody>
                </table>
                <p><em>Información con ayuda de <a target="_blank" href="https://concepto.de/desierto/">
                            Concepto de DESIERTO</em></a></p>
                <p>Regresar al <a href="#contenido">Contenido</a></p>
            </div>
            <div id="lateral">
                <h3 id="acuaticos"><strong><em>Acuáticos</em></strong>
                </h3>
                <img src="img/acuatico.jpg" alt="Imagen de selva" height="200" width="300">
                <p id="title">Ecosistemas acuáticos del mundo</p>
                <p id="parrafo">Son aquellos ecosistemas donde los componentes vivos desarrollan todas sus<br>
                    actividades en en el agua, sea salada como la establecida en los mares y<br>
                    océanos o dulce, como los ríos, lagos, arroyos…etc.
                </p>
                <p id="tabla"><strong>Información relevante sobre los Ecosistemas Acuáticos</strong></p>
                <table>
                    <thead>
                        <tr>
                            <th>TIPOS</th>
                            <th>TEMPERATURA</th>
                            <th>ESPECIES QUE LO <br> HABITAN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Marinos</td>
                            <td>39°F en Promedio</td>
                            <td>Ballenas, Delfines, <br> Manatí</td>
                        </tr>
                        <tr>
                            <td>Agua Dulce</td>
                            <td>60-75°F en Promedio</td>
                            <td>Cocodrilo, Nutrias<br> Pirañas</td>
                        </tr>
                    </tbody>
                </table>
                <p><em>Información con ayuda de <a target="_blank" href="https://planeta-tierra.info/ecosistema/bioma
        -de-agua-dulce-clima-precipitacion-plantas-animales-y-tipos-de-biomas-de-agua-dulce//">
                            Planeta Tierra</em></a></p>
                <p>Regresar al <a href="#contenido">Contenido</a></p>
                <h3 id="contaminacion"><strong><em>Contaminación</em></strong>
                </h3>
                <img src="img/contaminacion.jpg" alt="Imagen de Contaminación" height="200" width="300">
                <p id="title">Contaminación en el mundo</p>
                <p id="parrafo">Se denomina contaminación ambiental a la presencia de componentes nocivos (ya sean químicos,
                    <br>
                    físicos o biológicos) en el medio ambiente (entorno natural y artificial), que supongan
                    un<br>
                    perjuicio para los seres vivos que lo habitan, incluyendo a los seres humanos. La
                    contaminación<br>
                    ambiental está originada principalmente por causas derivadas de la actividad humana, como
                    la<br>
                    emisión a la atmósfera de gases de efecto invernadero o la explotación desmedida de los
                    recursos<br>
                    naturales.
                </p>
                <p id="tabla"><strong>Top 5 de países más contaminantes</strong></p>
                <table>
                    <thead>
                        <tr>
                            <th>LUGAR</th>
                            <th>PAÍS</th>
                            <th>PORCENTAJE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#1</td>
                            <td>China</td>
                            <td>30%</td>
                        </tr>
                        <tr>
                            <td>#2</td>
                            <td>USA</td>
                            <td>15%</td>
                        </tr>
                        <tr>
                            <td>#3</td>
                            <td>India</td>
                            <td>7%</td>
                        </tr>
                        <tr>
                            <td>#4</td>
                            <td>Rusia</td>
                            <td>5%</td>
                        </tr>
                        <tr>
                            <td>#5</td>
                            <td>Japón</td>
                            <td>4%</td>
                        </tr>
                    </tbody>
                </table>
                <p><em>Información con ayuda de <a target="_blank" href="https://www.sostenibilidad.com/medio-
        ambiente/top-5-paises-mas-contaminantes/">
                            Sostenibilidad para todos</em></a></p>
                            <p>Regresar al <a href="#contenido">Contenido</a></p>
            </div>

        </div>
        <h1 id="formularios">
            <strong><em>Envía tu comentario</em></strong>
        </h1>

        <form>
            <fieldset>
                <legend>Contáctanos</legend>
                <ul>
                    <li>
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre"> <br> <br>
                    </li>
                    <li>
                        <label for="apellido">Apellidos:</label>
                        <input id="apellido" type="text" name="apellido"> <br> <br>
                    </li>
                    <li>
                        <label for="numeroCorreo">E-mail:</label>
                        <input type="email" id="nomeroCorreo" name="numeroCorreo"> <br> <br>
                    </li>
                    <li>
                        <label for="genero">Género:</label>
                        <input type="radio" name="genero" id="femenino" value="femenino">
                        <label for="femenino">Femenino</label>
                        <input type="radio" name="genero" id="masculino" value="masculino">
                        <label for="masculino">Maculino</label>
                    </li> <br>
                    <li>
                        <label for="msg">Mensaje:</label>
                        <textarea name="msg" rows="10" cols="30"></textarea>
                    </li>
                </ul>
                <p> <button type="submit">Guardar</button></p>
            </fieldset>
        </form> <br> <br> <br>



    </div>
    <footer>
        <p><strong>Autor:</strong><em> López García Emmanuel</em></p>
        <p><strong>15 de Junio del 2020</strong></p>
        <p>Regresar al <a href="#contenido">Contenido</a></p>
        </footer>

</body>

</html